html, body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	color: #000000;
	height: 100%;
}

#wrap {
	padding-top: 50px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

.panel-heading, .panel-title {
	cursor: pointer;
	cursor: hand;
}

.newsAlert {
    display: none;
	margin-top: 15px;
	margin-bottom: 15px;
}

#initial_spinner, #information, #news, #features, #screenshots, #download, #faq, #register, #contact {
	display: none;
    margin-top: 20px;
}

#push {
	height: 60px;
}

#download_content_btns {
	width: 100%;
}

#footer {
	font-size: 0.8em;
	text-align: center;
	color: #666666;
	background-color: #EEE;
	height: 60px;
	padding-top: 12px;
	margin-top: 5px;
}

@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.item {
    background: #333;
    text-align: center;
    width: 100%;
    height: 320px;
}

.carousel {
    width: 100%;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.btn_info_jbbox {
	margin-top: 30px;
}

.btn_div {
	padding: 5px 5px 5px 5px;
}

.button-download {
    text-indent: -9999px;
    margin: 0px auto 0px;
    display: block;
    width: 200px;
    height: 200px;
    background: url("../img/download.png") 0px -200px no-repeat;
}

.button-download-beta {
    text-indent: -9999px;
    margin: 0px auto 0px;
    display: block;
    width: 200px;
    height: 200px;
    background: url("../img/download-beta.png") 0px -200px no-repeat;
}

.button-download:hover {
    background-position: 0px 0px;
}

.button-download-beta:hover {
    background-position: 0px 0px;
}

.button-download:active {
    background-position: 0px -400px;
}

.button-download-beta:active {
    background-position: 0px -400px;
}

#information {
    font-size: 1.1em;
}

#information1_content {
    margin-bottom: 20px;
}

#information2_content {
    margin-top: 20px;
}

.language {
    margin: 20px auto;
    width: 860px;
    height: 30px;
}

.language-navbar li a {
		padding-left: 0px;
}

.language-navbar img {
		opacity: 0.5;
}

.language img {
    float: right;
    margin-left: 10px;
    opacity: 0.5;
}

.language-active img {
    opacity: 1.0;
}
